body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #444;
    color: #fff;
    overflow-y: auto;
    padding: 1rem;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
    background: #555;
    border-radius: 5px;
    text-align: center;
}

nav a:hover {
    background: #666;
}

main {
    margin-left: 220px;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

img {
    max-width: 200px;
    height: 200px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}
#banner {
    max-width: fit-content;
    height: fit-content;
    border-style: hidden;
    float: left;
}
.titulos {
    background: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}